<div class="search">
    <label for="inputName" class="searchName">
        <input type="text" name="inputName" id="inputName" placeholder="Digite o nome do pokemon...">
    </label>
    <label for="inputTypes" class="searchTypes">
        <span>Tipos:</span>
        <input type="text" name="inputType1" id="inputType1" placeholder="1º Tipo">
        <input type="text" name="inputType2" id="inputType2" placeholder="2º Tipo">
        <span class="searchSubmit"><p>></p></span>
    </label>
    
</div>